$background-color: #141B1C;;
$background-color-dark: #334247;
$background-color-darkgray: #2A3438;;
$background-color-green: #5BB189;
$background-color-blue: #3A6BA5;
$background-color-red: #DC3F45;
$background-color-orange: #EC632A;
$text-color-white: #fff;